<h1>Animals</h1>
<hr>

<form>

	<label for="species">Species</label>
	<input name="species" type="text" [(ngModel)]="newAnimal.species"/>

	<label for="name">Name</label>
	<input name="name" type="text" [(ngModel)]="newAnimal.name"/>

	<label for="dateOfBirth">Date of birth</label>
	<input name="dateOfBirth" type="text" [(ngModel)]="newAnimal.dateOfBirth"/>

	<button (click)="addAnimal(newAnimal)">Add animal</button>

</form>

<table>
	<th>Species</th>
	<th>Name</th>
	<th>Date of birth</th>
	<tr *ngFor="let animal of animals">
		<td > {{ animal.species }} </td>
		<td > {{ animal.name }} </td>
		<td *ngIf="animal.dateOfBirth"> {{ animal.dateOfBirth }} </td>
		<td *ngIf="!animal.dateOfBirth"> Unknown </td>
		<button (click)="remove(animal)">Remove</button>
		<button (click)="moveToTop(animal)">Move to top</button>
	</tr>
</table>
