<h1>Animals</h1>
<hr>

<h3>Add an animal:</h3>
<form>

	<label for="species">Species</label>
	<input name="species" type="text" [(ngModel)]="newAnimal.species"/>

	<label for="name">Name</label>
	<input name="name" type="text" [(ngModel)]="newAnimal.name"/>

	<label for="dateOfBirth">Date of birth</label>
	<input name="dateOfBirth" type="text" [(ngModel)]="newAnimal.dateOfBirth"/>

	<button (click)="addAnimal(newAnimal)">Add animal</button>

</form><br>

<table>
	<thead>
		<th>Species</th>
		<th>Name</th>
		<th>Date of birth</th>
		<th></th>
	</thead>
	<tbody>
		<tr *ngFor="let animal of animals">
		<td > {{ animal.species }} </td>
		<td > {{ animal.name }} </td>
		<td *ngIf="animal.dateOfBirth"> {{ animal.dateOfBirth }} </td>
		<td *ngIf="!animal.dateOfBirth"> Unknown </td>
		<td>
				<button (click)="remove(animal)">Remove</button>
				<button (click)="moveToTop(animal)">Move to top</button>
			</td>			
		</tr>
	</tbody>
</table><br>


<table>
	<thead>
		<th>Sector  name</th>
		<th>Surface</th>
		<th></th>
	</thead>
	<tbody>
		<tr *ngFor="let sector of sectors">
			<td> {{ sector.name }}</td>
			<td> {{ sector.surface }}</td>
			<td>
				<button (click)="showAnimalsBySector(sector)">View list</button>
			</td>
			
		</tr>
	</tbody>
</table>
